<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="description" content="Events">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Events</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <style>
    body {
      padding: 20px;
    }

    .container {
      max-width: 700px;
    }
  </style>

</head>

<body>

  <div class="container">
    <p class="text-center">
      Example
    </p>
    <table class="table table-bordered">
      <thead>
        <th>Event</th>
        <th>Month</th>
        <th>Day</th>
        <th>Time / Location</th>
      </thead>
      <tbody>
        <tr>
          <td><a href="https://www.techhub.com/events/founders-boost--breakfast">Founder's Boost & Breakfast</a></td>
          <td>Jun</td>
          <td>28</td>
          <td>10:00, TechHub @ Campus Madrid - 3rd floor</td>
        </tr>
        <tr>
          <td><a href="https://www.techhub.com/events/members-breakfast-67">Members Breakfast</a></td>
          <td>Jun</td>
          <td>28</td>
          <td>10:00, TechHub @ Campus Warsaw</td>
        </tr>
      </tbody>
    </table>
  </div>

  <script src="events.js"></script>
</body>

</html>
