<h1>Meeting Rooms @ TechHub</h1>

<div class="room-grid">
    <div class="room-card {{room.fields.name.toLowerCase()}}" ng-repeat="room in meeting.rooms" ng-click="meeting.selectRoom(room)">
        <h3>{{ room.fields.name }}</h3>
        <div class="room-features" ng-show="meeting.isSelected(room)">
            <p> {{ room.fields.description }} </p>
            <h6>Features:</h6>
            <ul>
                <li><strong>Capacity:</strong> {{ room.fields.capacity }}</li>
                <li><strong>Type:</strong> {{ room.fields.type }}</li>
                <li><strong>Price:</strong> €{{ room.fields.hourlyPrice }}/h</li>
            </ul>
            <p><strong>Location:</strong> {{ room.fields.location }}</p>
            <p>{{ room.fields.floor }} floor</p>
            <p><strong>Opening Hours</strong> {{ meeting.isOpen(room.fields.openingHour, room.fields.closingHour) }}</p>
            <p><strong>Non members allowed:</strong> {{ room.fields.availableNonMembers ? 'Yes' : 'No' }}</p>
        </div>
    </div>
</div>
